* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* set variables */
:root {
    --border: 1px solid black;
    --color-1: rgb(255, 157, 0);
    --color-2: rgb(249, 189, 93);
    --color-3: rgb(168, 106, 7);
    --pad: 5%;
}

/* header section style */
.header-container {
    /* position: fixed; */
    height: 90px;
    background-color: var(--color-1);
    width: 100%;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    height: inherit;
}
.logo {
    margin-left: 7%;
}
.nav {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}
nav a:hover {
    color: white;
}
.header-img, #header-img {
    max-width: 100%;
    height: auto;
}
.header-intro {
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin-left: 25%;
    top: 15%;
    background-color: rgba(0, 0, 0, 0.52);
}
.header-intro-inner-div {
    /* border: var(--border); */
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    margin: 15%;
    padding: var(--pad);
}
.header-intro-inner-div h1 {
    color: var(--color-1);
    font-size: 270%;
    margin: 3%;
}
.header-intro-inner-div p  {
    font-weight: 600;
    margin: 4%;
}
.btn {
    border-radius: 10px;
    background-color: var(--color-1);
    font-size: larger;
    font-weight: 600;
    color: var(--white-color);
    border: none;
}
.header-btn {
    width: 40%;
    height: 30%;
}

.btn:hover {
    background-color: var(--color-2);
}

.btn:active {
    background-color: var(--color-3);
}

/* rotation */
@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes anti-clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg)
    }
}

/* float up and down */
@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
        /* Start and end position */
    }

    50% {
        transform: translateY(-20px);
        /* Middle position */
    }
}

/* main */
.view-our-menu {
    font-size: 600%;
    color: rgba(0, 0, 0, 0.283);
    font-style: italic;
    padding: var(--pad);
}
/* menu */
.menu {
    /* border: var(--border); */
    display: flex;
    justify-content: space-between;
    padding: var(--pad);
}
/* .menu div {
    border: var(--border);
} */

/* dish */
.dish {
    width: 40%;
    height: 50%;
}
.dish img {
    max-width: 100%;
    height: auto;
}
.d1,
.d4,
.d5 {
    animation: clockwise 40s infinite linear;
}

.d2,
.d3,
.d6 {
    animation: anti-clockwise 40s infinite linear;
}
/* menu discription */
.discription {
    width: 50%;
    /* margin-left: 10%; */
    padding: var(--pad);
    display: flex;
    border: var(--border);
    gap: 2%;
}
.discription-content {
    border: var(--border);
    font-size: 200%;
}
.menu-btn {
    border: var(--border);
    height: 7%;
    width: 500%;
    color: white;
    margin-top: 115%;
    margin-left: var(--pad);
    margin-right: var(--pad);
}

.knife-fork {
    /* border: var(--border); */
    width: 25%;
    position: absolute;
    z-index: -1;
    transform: rotate(30deg);
}
.knife-fork img {
    width: inherit;
}

.k1 {
    top: 210%;
    margin-left: 20%;
}

.k2 {
    top: 325%;
    margin-left: 70%;
}

.k3 {
    top: 435%;
    margin-left: 20%;
}

.k4 {
    top: 550%;
    margin-left: 70%;
}

.row {
    /* border: var(--border); */
    width: 100%;
    height: 200px;
}

.card {
    position: absolute;
    /* border: var(--border); */
    overflow: hidden;
    width: 19%;
    height: auto;
    border-radius: 10px;
}
.c1 {
    top: 710%;
    left: 1%;
    animation: floatUpDown 4s infinite ease-in-out;
}
.c2 {
    top: 707%;
    left: 21%;
    animation: floatUpDown 5s infinite ease-in-out;
}
.c3 {
    top: 711%;
    left: 41%;
    animation: floatUpDown 4.5s infinite ease-in-out;
}
.c4 {
    top: 710%;
    left: 61%;
    animation: floatUpDown 3.5s infinite ease-in-out;
}
.c5 {
    top: 713%;
    left: 81%;
    animation: floatUpDown 5s infinite ease-in-out;
}
.inner-card {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.357);
}
.inner-card:hover {
    background-color: rgba(252, 252, 252, 0);
}

.inner-card-img {
    /* border: var(--border); */
    height: 100%;
    width: 130%;
    position: absolute;
    z-index: -1;
}
.inner-card a {
    text-decoration: none;
}
.inner-card a span {
    color: var(--color-1);
    font-weight: 900;
    font-size: 200%;
    position: absolute;
    left: 25%;
    bottom: 3%;
    /* border: var(--border); */
}


/* footer */
footer {
    width: 100%;
    height: 400px;
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-space-out {
    height: 60%;
}


