:root {
    --border: 1px solid black;
    --red-border: 1px solid red;
    --color-1: rgb(255, 157, 0);
    --color-2: rgb(170, 255, 0);
    --color-3: rgb(0, 54, 249);
    --small-height: 50px;
}

header {
    border: var(--border);
    display: flex;
    justify-content: space-between;
    height: var(--small-height);
}

.logo, .nav {
    border: var(--red-border);
}